matplotlib
numpy
pandas
psutil
tqdm
jupyter
jupyterlab

# used in FinRL
wrds==3.1.5
swig

#FinRL
setuptools==65.5.0
FinRL/.
gymnasium

#Other
ray[default]
ray[tune]
ray
stable_baselines3

#Finance
pyfolio
stockstats
yfinance

